<!DOCTYPE HTML>
<html lang="en">

<head>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Camera</title>
</head>


<body style="background-color:rgb(202, 229, 238);">

  <!-- Database dropdown -->
  <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <nav class="navbar-brand">Camera Feed</nav>
    <li class="nav-item dropdown">
      <button class="btn btn-secondary dropdown-toggle  mr-5" type="button" id="dropdownMenuButton"
        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Connected databases
      </button>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <% databases.forEach((database)=> { %>
          <a class="dropdown-item" href="#">
            <%= database %>
          </a>
          <% }) %>
      </div>
    </li>

    <div class="d-flex justify-content-center">
      <form class="form-inline" action="/" method="post">
        <div class="form-group">
          <select class="form-control mr-1" name="dropdownTimestamp" style="width:auto">
            <% timestamps.forEach((timestamp)=> { %>
              <option value="<%= timestamp %>">
                <%= timestamp %>
              </option>
              <% }) %>
          </select>
          <button type="submit" value="post" class="btn btn-secondary">Load</button>
        </div>
      </form>
    </div>
  </nav>

  <div class="m-3 d-flex justify-content-center">
    <img src="<%= image %>">
  </div>
  <div class="m-3 d-flex justify-content-center">
    <h3><%= imageTimestamp %></h3>
  </div>



  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>
</body>

</html>